.sectionMain {
  position: relative;
  padding: 8rem 0;
}

.sectionTitle {
  width: 100%;
  text-align: center;

  h2 {
    font-size: $heading2;
    line-height: 110%;
    color: $skrozTamnaZelena;
    padding: 0 0 2.1rem 0;
  }
}

.taxonomyFilterContainer {
  width: 100%;
  max-width: $masterContainerWidth;
  display: flex;
  place-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin: 0 auto;
  padding: 0 0 3.3rem 0;

  @media only screen and (max-width: $desktops) {
    max-width: 85%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  span {
    padding: 0.25rem 0.56rem;
    outline: 1.3px solid $textTamno;
    border-radius: 4px;
    color: $textTamno;
    font-size: $mobileHeading4;
    line-height: 120%;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.25, 0.4, 0.2, 0.5);
  }

  .activeFilter {
    background: $textTamno;
    color: $svijetloSiva;
  }
}

.galleryContainer {
  max-width: $masterContainerWidth;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 1rem;

  @media only screen and (max-width: $desktops) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (max-width: $tablets) {
    grid-template-columns: repeat(2, 1fr);
    max-width: 95%;
  }

  place-items: center;
  gap: 0.5rem;
  .imageContainer {
    @media only screen and (min-width: $tablets) {
      max-width: 362px;
    }
    height: 289px;
    width: 100%;
    //     height: 400px;
    position: relative;

    @media only screen and (max-width: $tablets) {
      height: 170px;
    }
  }
}
