.sectionMain {
  position: relative;
}

.kampKuciceCardContainer {
  display: flex;
  max-width: $masterContainerWidth;
  margin: 0 auto;
  place-items: center;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1.75rem;

  @media only screen and (max-width: $desktops) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.kampKucicaCard {
  max-width: 345px;
  width: 100%;
  background: #f9f9f9;
  cursor: pointer;

  .kampKucicaContent {
    padding: 1.25rem;
    display: grid;
    place-items: start;

    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);

    ul,
    h2,
    a,
    p {
      color: $textTamno;
    }

    ul {
      // padding: 0 0 0 1rem;
      font-size: $mobileHeading4;

      list-style-type: '-';
      padding-inline-start: 0.5rem;

      li {
        &::marker {
          margin: 0 0 0 1rem !important;
          display: inline-block;
        }
      }
    }

    p {
      font-size: $mobileHeading4;
    }

    h2 {
      font-size: $mobileHeading2;
      line-height: 120%;
      text-wrap: balance;
      word-wrap: break-word;
      white-space: pre-wrap;
    }

    a {
      text-decoration: none;

      line-height: 153%;
      display: flex;
      place-items: center;
      justify-content: flex-start;
      transition: all 250ms cubic-bezier(0.25, 0.4, 0.2, 0.5);
      gap: 0.025rem;
      overflow: hidden;

      img {
        transition: all 250ms cubic-bezier(0.25, 0.4, 0.2, 0.5);

        transform-origin: center;
        transition-delay: 150ms;
      }

      &:hover {
        transform: translateX(5%);
        color: $zelenaTamna;
        img {
          transform: rotate(45deg) translateX(15%);
        }
      }
    }
  }
  .kampKucicaImageCont {
    position: relative;
    width: 100%;
    height: 253px;
    flex-shrink: 1;
    overflow: hidden;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: url('../img/sections/odmori-se-3.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      inset: 0;
      display: block;
      z-index: 1;
      transform: translateY(-100%);
      transition: all 250ms cubic-bezier(0.25, 0.4, 0.2, 0.5);
      // transition: all 150ms cubic-bezier(0.5, 0.2, 0.4, 0.25);
    }

    img {
      transition: all 250ms cubic-bezier(0.25, 0.4, 0.2, 0.5);
      // transition: all 150ms cubic-bezier(0.5, 0.2, 0.4, 0.25);
    }
  }

  .kampKucicaCtaCont {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: start;
    gap: 0.05rem;
  }

  &:hover {
    .kampKucicaImageCont {
      img {
        transform: translateY(100%);
      }

      &::before {
        transform: translateY(0);
      }
    }
  }
}
