.mainSection {
  position: relative;
  overflow-x: hidden;
}

.innerContent {
  display: flex;
  place-items: start stretch;
  justify-content: center;
  gap: 6.3rem;
  padding: 4.375rem 0;

  @media only screen and (max-width: $desktops) {
    padding: 4.375rem 1rem;
    gap: 4.3rem;
  }

  @media only screen and (max-width: $phones) {
    flex-wrap: wrap;
    gap: 2.3rem;
  }
  .ctaContainer {
    @media only screen and (min-width: $phones) {
      max-width: 377px;
    }

    // max-width: 377px;
    display: grid;
    place-items: start;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.4rem;
    flex-shrink: 1;

    // @media only screen and (min-width: $phones) {
    //   max-width: 40%;
    // }

    h2 {
      font-size: $heading2;
      @media only screen and (max-width: $tablets) {
        font-size: $heading3;
      }
      line-height: $sekundarniProred;
      font-weight: 700;
      color: $skrozTamnaZelena;
    }

    .paragraphContainer {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 12px;
      place-items: start;
    }

    p {
      text-wrap: balance;
      word-wrap: break-word;
      white-space: pre-wrap;
      color: $skrozTamnaZelena;
      font-size: $heading4;
      @media only screen and (max-width: $tablets) {
        font-size: $baseFontSize;
      }
      line-height: 130%;
      font-weight: 400;
    }

    .sectionButtonsContainer {
      a {
        text-decoration: none;
      }
      display: grid;
      width: 100%;
      place-items: start;
      grid-template-columns: repeat(1, 1fr);
      gap: 0.75rem;
    }
  }
  .imageContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-shrink: 1;
    @media only screen and (max-width: $phones) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media only screen and (max-width: $tablets) {
      grid-template-columns: repeat(1, 1fr);
    }
    gap: 1.125rem;
    @media only screen and (min-width: $desktops) {
      max-width: 650px;
      place-items: start;
    }
    width: 100%;
    place-items: center;
    position: relative;

    img {
      &:nth-child(1) {
        @media only screen and (max-width: $phones) {
          display: none;
        }
      }

      &:nth-child(3) {
        @media only screen and (min-width: $phones) {
          position: absolute;
        }
        @media only screen and (min-width: $desktops) {
          left: 81px;
          bottom: 15%;
        }
        bottom: 100px;

        @media only screen and (max-width: $tablets) {
          display: none;
        }
      }

      &:nth-child(2) {
        @media only screen and (max-width: $tablets) {
          display: none;
        }
      }
    }
  }
}
