.aboutUsSection {
  width: 100%;
  position: relative;

  .masterContainer {
    max-width: $masterContainerWidth;
    margin: 0 auto;
    width: 100%;
    padding-top: 2rem;

    @media only screen and (max-width: $largeDesktops) {
      padding: 2rem 1rem;
    }

    .aboutUsContentCont {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      place-items: center;
      gap: 4.1rem;
      justify-content: center;
    }

    .sectionHeading {
      font-size: $heading2;

      @media only screen and (max-width: $tablets) {
        font-size: $heading4;
      }

      @media only screen and (max-width: $phones) {
        font-size: $mobileHeading2;
      }
      color: $tamna;
      line-height: $sekundarniProred;
    }

    .imageHolder {
      width: 100%;
      height: 100%;
      @media only screen and (min-width: $desktops) {
        max-width: 523px;
        height: 739px;
      }
      height: 75vh;
      max-height: 85vh;
      max-height: 85dvh;
      position: relative;
      // height: 650px;

      img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        object-fit: contain;
        // border-radius: 155px 0 0 0;
      }
    }

    .aboutUsContent {
      width: 100%;

      @media only screen and (min-width: $desktops) {
        max-width: 411px;
      }
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;

      p {
        width: 100%;
        color: $tamna;
        line-height: $defaultProred;
        font-size: $baseFontSize;

        text-wrap: balance;
        word-wrap: break-word;
        white-space: pre-wrap;
      }
    }

    .buttonContainer {
      width: 100%;
      display: flex;
      place-items: center;
      flex-wrap: wrap;
      gap: 1.4em;
    }
  }
}
